body{
	background-color: #FFFFF0;
}

/** Wrap **/
#wrap {
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
}

/** Translator box **/

#left {
    background-color: #ffffff;
    border: 1px solid rgb(157, 172, 180);
    float: left;
    border-radius: 1rem 0 0 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 230px;
    width: 29.7%;
    margin-right: 0;
    flex-direction: column;
    position: relative;
    display: flex;
    flex: 1;    
}

#right {
    background-color: #ececec;
    border: 1px solid rgb(157, 172, 180);
    float: right;
    border-radius: 0 1rem 1rem 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 230px;
    width: 69.7%;
    margin-left: 0;

}

#inputText {
    font-family: Roboto, sans-serif;
    font-size: larger;
    font-weight: 500;
    background: transparent;
    border: none;
    color: #3c4043;
    flex: 1;
    /* font-family: inherit; */
    overflow: auto hidden;
    padding: 0;
    resize: none;
    white-space: pre-wrap;
    min-height: 49px;
    /* width: 100%; */
    z-index: 1;
    padding: 25px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*navigation bar styling*/
.navigation_bar{
	position: relative;
	bottom: 10px;
	right: 10px;
	width: 1200px;
}

.navigation_bar ul{
  list-style: none;
  background: #00008B;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navigation_bar li{
  display: inline-block;
  color: white;
}

.navigation_bar a{
  text-decoration: none;
  color: #F0FFFF;
  width: 150px;
  display: block;
  padding: 15px 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.navigation_bar a:hover{
  background: black;
}

/*images styling*/

#hello_sign_image{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	bottom: 115px;
}

#second_hello_image{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	left: 925px;
	bottom: 350px;
}

/*general styling*/

#title h1{
	text-align: center;
	text-decoration: underline;
	font-size: 30pt;
}

#description{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	font-size: 14pt;
	position: relative;
	bottom: 470px;
}

#usage_title{
	font-size: 14pt;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	text-decoration: underline;
	position: relative;
	bottom: 400px;
}