body{
	background-color: #FFFFF0;
}

#translator_title h2{
    text-align: center;
    font-size: 22pt;
    text-decoration-line: underline;
}

/** Wrap **/
#wrap {
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
}

/** Translator box **/

#left {
    background-color: #ffffff;
    border: 1px solid rgb(157, 172, 180);
    float: left;
    border-radius: 1rem 0 0 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 230px;
    width: 29.7%;
    margin-right: 0;
    flex-direction: column;
    position: relative;
    display: flex;
    flex: 1;    
}

#right {
    background-color: #ececec;
    border: 1px solid rgb(157, 172, 180);
    float: right;
    border-radius: 0 1rem 1rem 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 230px;
    width: 69.7%;
    margin-left: 0;

}

#inputText {
    font-family: Roboto, sans-serif;
    font-size: larger;
    font-weight: 500;
    background: transparent;
    border: none;
    color: #3c4043;
    flex: 1;
    /* font-family: inherit; */
    overflow: auto hidden;
    padding: 0;
    resize: none;
    white-space: pre-wrap;
    min-height: 49px;
    /* width: 100%; */
    z-index: 1;
    padding: 25px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*navigation bar styling*/
.navigation_bar{
	position: relative;
	bottom: 10px;
	right: 10px;
	width: 1222px;
}

.navigation_bar ul{
  list-style: none;
  background: #00008B;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navigation_bar li{
  display: inline-block;
  color: white;
}

.navigation_bar a{
  text-decoration: none;
  color: #F0FFFF;
  width: 150px;
  display: block;
  padding: 15px 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.navigation_bar a:hover{
  background: black;
}

/*images styling*/

#hello_sign_image{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	bottom: 115px;
}

#second_hello_image{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	left: 925px;
	bottom: 350px;
}

#translator_image{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	border: solid 3px black;
	width: 350px;
	height: 180px;
	position: absolute;
	bottom: 0px;
	left: 90px;
}

#translator_output_image{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	border: solid 3px black;
	width: 370px;
	height: 200px;
	position: relative;
	left: 700px;
	bottom: 150px;
}

/*general styling*/
#outline{
	outline: 13px solid #00008B;
}

#title h1{
	text-align: center;
	text-decoration: underline;
	font-size: 30pt;
}

#description{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	font-size: 14pt;
	position: relative;
	bottom: 470px;
}

#usage_title{
	font-size: 14pt;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	text-decoration: underline;
	position: relative;
	bottom: 440px;
}

#usage_description{
	font-size: 15pt;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	position: absolute;
	bottom: 30px;
	left: 515px;
}

#usage_output_description{
	font-size: 15pt;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	bottom: 325px;
	left: 50px;
}

#phrase_history{
	align-items: center;
	background-color: #ffffff;
    border: 1px solid rgb(157, 172, 180);
    border-radius: 1rem 0 0 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 230px;
    width: 29.7%;
    margin-right: 0;
    flex-direction: column;
    position: relative;
    left: 157px;
    top: 40px;
    display: flex;
    flex: 1; 
}

#phrase_history h2{
	margin: 0;
	text-decoration: underline;
	position: relative;
	top: 60px;
}

#phrase_history p{
	position: relative;
	top: 80px;
}

#history_list{
	background-color: #ececec;
    border: 1px solid rgb(157, 172, 180);
    float: right;
    border-radius: 0 1rem 1rem 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 230px;
    width: 45%;
    position: relative;
    bottom: 192px;
    right: 140px;
    margin-left: 0;
}

#copyright{
	background: #00008B;
	position: relative;
	top: 10px;
	right: 10px;
	border: solid 3px #00008B;
	width: 1216px;
	height: 50px;
}

#copyright p{
	color: white;
	position: relative;
	left: 500px;
}

/*special page styling*/

#special_page_title{
	text-align: center;
	text-decoration: underline;
}

#quiz{
	text-align: center;
	font-size: 13pt;
}

#quiz p{
	font-family: sans-serif;
}