body{
	background-color: #FFFFF0;
}

#translator_title h2{
    text-align: center;
    font-size: 22pt;
    text-decoration-line: underline;
}

/** Wrap **/
#wrap {
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
}

/** Translator box **/

#left {
    background-color: #ffffff;
    border: 1px solid rgb(157, 172, 180);
    float: left;
    border-radius: 1rem 0 0 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* height: 230px; */
    width: 29.7%;
    margin-right: 0;
    flex-direction: column;
    position: relative;
    display: flex;
    flex: 1;    
}

#right {
    background-color: #ececec;
    border: 1px solid rgb(157, 172, 180);
    float: right;
    border-radius: 0 1rem 1rem 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* height: 230px; */
    width: 69.7%;
    margin-left: 0;
}

/* submit button */
.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 0 0 0 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-2:hover {
    color: darkgray;
}

#results {
    padding: 25px;
    
}

ul#results li {
    list-style: none;
}

#inputText {
    font-family: Roboto, sans-serif;
    font-size: larger;
    font-weight: 500;
    background: transparent;
    border: none;
    color: #3c4043;
    flex: 1;
    /* font-family: inherit; */
    overflow: auto hidden;
    resize: none;
    white-space: pre-wrap;
    min-height: 49px;
    /* width: 100%; */
    z-index: 1;
    padding: 25px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

ul#results li {
    display: inline;
}

ul li img {
    height: 100px;
    width: 100px;
}

/*navigation bar styling*/
.navigation_bar{
	position: relative;
	bottom: 10px;
	right: 10px;
	width: 1223px;
}

.navigation_bar ul{
  list-style: none;
  background: #00008B;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navigation_bar li{
  display: inline-block;
  color: white;
}

.navigation_bar a{
  text-decoration: none;
  color: #F0FFFF;
  width: 150px;
  display: block;
  padding: 15px 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.navigation_bar a:hover{
  background: black;
}

/*images styling*/
#how_to_image1{
	position: relative;
	left: 50px;
	margin: 0;
	border: 5px solid black;
	float: left;
	width: 450px;
	height: 80px;
}

#how_to_image2{
	padding: 0;
	border: 5px solid black;
	float: right;
	position: relative;
	right: 50px;
	width: 450px;
	height: 80px;
}


/*general styling*/
#outline{
	outline: 13px solid #00008B;
}

#phrase_history{
	align-items: center;
	background-color: #ffffff;
    border: 1px solid rgb(157, 172, 180);
    border-radius: 1rem 0 0 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 230px;
    width: 29.7%;
    margin-right: 0;
    flex-direction: column;
    position: relative;
    left: 157px;
    top: 40px;
    display: flex;
    flex: 1; 
}

#phrase_history h2{
	margin: 0;
	text-decoration: underline;
	position: relative;
	top: 60px;
}

#phrase_history p{
	position: relative;
	top: 55px;
}

#phrase_history_btn{
	position: relative;
	top: 80px;
}

#history_list{
	background-color: #ececec;
    border: 1px solid rgb(157, 172, 180);
    float: right;
    border-radius: 0 1rem 1rem 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 230px;
    width: 45%;
    position: relative;
    bottom: 192px;
    right: 140px;
    margin-left: 0;
}

#about_title{
	text-align: center;
	text-decoration-line: underline;
}

#description{
	text-align: center;
	font-size: 13pt;
}

#how_to_use_title{
	text-align: center;
	text-decoration-line: underline;
}

#how_to_image1_description{
	float: right;
	position: relative;
	right: 95px;
}

#how_to_image2_description{
	margin-left: 0;
	position: relative;
	left: 50px;
}

#copyright{
	background: #00008B;
	position: relative;
	top: 10px;
	right: 10px;
	border: solid 3px #00008B;
	width: 1217px;
	height: 50px;
}

#copyright p{
	text-align: center;
	color: white;
}

/*special page styling*/

#special_page_title{
	text-align: center;
	text-decoration: underline;
}

#quiz{
	text-align: center;
	font-size: 13pt;
}

#quiz p{
	font-family: sans-serif;
	font-weight: bold;
}